<!DOCTYPE html>
<html>
<head>
    <title>Search Engine</title>
</head>
<body>
    <p>HARSHITHA Gokanakonda</p>
    <p>ID:1001949798</p>
    <h1>Search Engine</h1>
    <form method="POST" action="/">
        <label for="documents">Enter Documents:</label><br>
        <textarea id="documents" name="documents" rows="5" cols="50"></textarea><br><br>
        <label for="query">Enter Query:</label><br>
        <input type="text" id="query" name="query"><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
